.details-page {
  width: 1440px;
  height: 1506px;
}

.img {
  width: 1198px;
  height: 448px;
}

.description {
  width: 1191px;
  height: 408px;
}

.expert-comment {
  width: 1198px;
  height: 262px;
  background-color: #FFFFFF;
}